<%- include('../../partials/header.ejs') -%>
<%- include('../../partials/navbar.ejs') -%>


<div class="container ml-0">

   <div style="flex-direction: column;" >

    <div style="width: 13%; border:solid 1px black; top: 8%; position:absolute;">

        <ul class="list-group">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
          </ul>
    
       </div>

       <div style="width: 80%; border:solid 1px blue; position:absolute; top: 8%; left: 14%;">

        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
    
        
    
       </div>

   </div> 

  





</div>
 
      
   

  
  



  
 
<%- include('../../partials/footer.ejs') -%></input>